In [25]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [ ]:
dataSet = pd.read_csv('brain_stroke_formated_stroke01.csv')  
#colunas
x = dataSet.loc[:,"gender":"smoking_status"].values
y = dataSet.loc[:,"stroke"].values

In [30]:
dataSet = pd.read_csv('brain_stroke_formated_stroke01_separated.csv')  
#colunas
x = dataSet.loc[:,"gender":"smoking_unknown"].values
y = dataSet.loc[:,"stroke"].values

In [31]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 100)

In [32]:
#classificador
from sklearn.linear_model import LinearRegression
clf = LinearRegression()
clf.fit(X_train, y_train)

LinearRegression()

In [33]:
#dataSet.loc[:,['a01','a02','a03','a04','a05','a32','a33','a34','classes']].head()
dataSet.head()

,gender,age,hypertension,heart_disease,ever_married,work_private,work_self-emplyed,work_govt,work_children,Residence_type,avg_glucose_level,bmi,smoking_formerly,smoking_never,smoking_smoke,smoking_unknown,stroke
0,1,67.0,0,1,1,1,0,0,0,1,228.69,36.6,1,0,0,0,1
1,1,80.0,0,1,1,1,0,0,0,0,105.92,32.5,0,1,0,0,1
2,0,49.0,0,0,1,1,0,0,0,1,171.23,34.4,0,0,1,0,1
3,0,79.0,1,0,1,0,1,0,0,0,174.12,24.0,0,1,0,0,1
4,1,81.0,0,0,1,1,0,0,0,1,186.21,29.0,1,0,0,0,1

In [24]:
#acuracia
from sklearn.metrics import accuracy_score
y_previsto = clf.predict(X_test)
y_desejado = y_test
#accuracy_score(y_previsto, y_desejado)
dif = np.abs(y_desejado - y_previsto).max()
np.log1p(dif)

0.7001367778926282

In [34]:
#acuracia
from sklearn.metrics import accuracy_score
y_previsto = clf.predict(X_test)
y_desejado = y_test
#accuracy_score(y_previsto, y_desejado)
dif = np.abs(y_desejado - y_previsto).max()
np.log1p(dif)

0.6931199617588643

In [35]:
clf.score(X_train,y_train)

0.06784899340997208

In [36]:
clf.score(X_test,y_test)

0.08428761254677308

In [21]:
y_desejado

array([0, 0, 0, ..., 0, 0, 0])

In [22]:
y_previsto

array([ 0.10616038,  0.0269134 ,  0.08038968, ..., -0.01109205,
       -0.01346838, -0.01007223])