In [2]:
import pandas as pd
import numpy as np

dataSet = pd.read_csv('brain_stroke_formated.csv')  
#colunas
x = dataSet.loc[:,"gender":"smoking_status"].values
y = dataSet.loc[:,"stroke"].values
from sklearn.model_selection import train_test_split
#x = dataSet.values[:, 1:7]
#y = dataSet.values[:, 7]
#x=x.transpose()
#divisao do dataset

In [3]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 100)

In [4]:
#classificador
from sklearn.linear_model import Perceptron
clf = Perceptron()
clf.fit(X_train, y_train)

Perceptron()

In [ ]:
dataSet.loc[:,['WBN_GC_L_0.25','WBN_GC_H_0.25','WBN_GC_L_0.50','NumHBD','MW','BBB','BadGroup','Outcome']].head()
#dataSet.head()

,WBN_GC_L_0.25,WBN_GC_H_0.25,WBN_GC_L_0.50,NumHBD,MW,BBB,BadGroup,Outcome
0,-2.3941,1.8819,-2.5208,1,362.857,1,0,Active
1,-2.3342,2.3811,-2.6012,1,320.266,1,0,Active
2,-1.4709,2.0782,-1.8538,1,376.459,0,1,Active
3,-1.4722,1.9812,-1.7911,3,442.581,0,0,Active
4,-2.2448,1.9814,-2.3705,2,401.484,0,0,Active

In [5]:
#acuracia
from sklearn.metrics import accuracy_score
y_previsto = clf.predict(X_test)
y_desejado = y_test
accuracy_score(y_previsto, y_desejado)

0.959866220735786

In [6]:
y_desejado

array(['stroke_negative', 'stroke_negative', 'stroke_negative', ...,
       'stroke_negative', 'stroke_negative', 'stroke_negative'],
      dtype=object)

In [7]:
y_previsto

array(['stroke_negative', 'stroke_negative', 'stroke_negative', ...,
       'stroke_negative', 'stroke_negative', 'stroke_negative'],
      dtype='<U15')